.pun {
  font-style: italic;
  font-weight: bold;
}

.about-me {
background-color: rgb(215,198,189);
Width: 700px;
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 25px;
padding-right: 25px;
}

body {
  background-color: rgb(86,70,61);
}

.posts {
  background-color: rgb(215,198,189);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}
